{% extends 'layouts/base.html' %}
{% block custom_head_tags %}
{% endblock %}
{% block content %}
    <br>
    <br>
    <br>
    <div class="ui grid container">
        <div class="ten wide computer sixteen wide mobile centered column">
            <h2 class="ui dividing header">Find Top Employees</h2>
            <div class="center">
                <div>
                    <form class="ui inline form fluid" style="width: 100%" method="GET" action="{{ url_for('employer.search') }}">
                        <div class="ui fluid icon input">
                            <input type="text" placeholder="Find Employees" name="query" autofocus>
                            <div class="ui button"> <i class="search icon"></i></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
