<!DOCTYPE html>
<html lang="en" style="height: 90%">
<head>
    <title>{{ profile.full_name }} Resume on Mediville</title>
</head>
<body style="height: 90%;overflow-x: hidden">
<div class="base" style="width: 100%;padding: 1%;display: block;height: 100%;">
    <div style="width:100%;text-align: center;letter-spacing: 3px">
        <h1>{{ profile.full_name }}</h1>
    </div>
    <div style="width:100%;height:3px;background: rgb(0, 0, 0)"></div>
    <div style="width:100%;text-align: center;letter-spacing: 2px">
        <h2>{{ profile.title }}</h2>
    </div>
    <div style="width:100%; text-align: left">
        <h5>
            {{ profile.header }}
        </h5>
    </div>
    {% if profile.skills | length %}
        <div style="width:100%;text-align: center;">
            <h3><u>Skills</u></h3>
        </div>
        <div style="width:100%;display: block;position: relative;overflow: auto;">
            <div style="width: 48%;padding: 1%;float:left">
                <ul>
                    {% for skill in profile.skills %}
                        {% if loop.index%2 != 0 %}
                            <li>
                                <h4>
                                    <strong><u>{{skill.exp}}</u></strong>
                                    <small>at</small>
                                    <strong><u>{{ skill.name }}</u></strong>
                                </h4>
                                <p class="indent">{{skill.description}}</p>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div style="width: 48%;padding: 1%;float:left">
                {% for skill in profile.skills %}
                    {% if loop.index%2 == 0 %}
                        <li>
                            <h4>
                                <strong><u>{{skill.exp}}</u></strong>
                                <small>at</small>
                                <strong><u>{{ skill.name }}</u></strong>
                            </h4>
                            <p class="indent">{{skill.description}}</p>
                        </li>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if profile.education | length %}
        <div style="width:100%;text-align: center;display: block">
            <h3><u>Education</u></h3>
        </div>
        <div style="width:100%;display: block;position: relative;overflow: auto;">
            <div style="width: 48%;padding: 1%;float:left">
                <ul>
                    {% for edu in profile.education %}
                        {% if loop.index%2 != 0 %}

                            <li>
                                <div class="summary">
                                    <a>{{edu.degree}} degree</a> -- <strong>{{edu.school}}</strong>
                                </div>
                                <div class="indent">
                                    -> {{edu.start_date | full_date}}
                                    {% if edu.end_date %}
                                        <span>: {{edu.end_date | full_date}}</span>
                                    {% else %}
                                        <span> : Present</span>
                                    {% endif %}
                                </div>
                                <br>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div style="width: 48%;padding: 1%;float:left">
                <ul>
                    {% for edu in profile.education %}
                        {% if loop.index%2 == 0 %}
                            <li>
                                <div class="summary">
                                    <a>{{edu.degree}} degree</a> -- <strong>{{edu.school}}</strong>
                                </div>
                                <div class="indent">
                                    -> {{edu.start_date | full_date}}
                                    {% if edu.end_date %}
                                        <span>: {{edu.end_date | full_date}}</span>
                                    {% else %}
                                        <span> : Present</span>
                                    {% endif %}
                                </div>
                                <br>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    {% if profile.jobs | length %}
        <div style="width:100%;text-align: center;display: block">
            <h3><u>Work History</u></h3>
        </div>
        <div style="width:100%;display: block;position: relative;overflow: auto;">
            <div style="width: 48%;padding: 1%;float:left">
                <ul>
                    {%  for job in profile.jobs %}
                        {% if loop.index%2 != 0 %}

                            <li>
                                <div class="content">
                                    <div class="summary">
                                        <a> {{job.title}}</a> -- <strong>{{job.company}}</strong> --
                                        {{job.commitment}}
                                    </div>
                                    <div class="indent">
                                        -> {{job.start_date | full_date}} :
                                        {% if job.end_date %}
                                            <span>{{job.end_date | full_date}}</span>
                                        {% else %}
                                            <span>Present</span>
                                        {% endif %}
                                    </div>

                                </div>
                                <br>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>

            </div>
            <div style="width: 48%;padding: 1%;float:left">
                <ul>
                    {%  for job in profile.jobs %}
                        {% if loop.index%2 == 0 %}
                            <li>
                                <div class="content">
                                    <div class="summary">
                                        <a> {{job.title}}</a> -- <strong>{{job.company}}</strong> --
                                        {{job.commitment}}
                                    </div>
                                    <div class="indent">
                                        -> {{job.start_date | full_date}} :
                                        {% if job.end_date %}
                                            <span>{{job.end_date | full_date}}</span>
                                        {% else %}
                                            <span>Present</span>
                                        {% endif %}
                                    </div>

                                </div>
                                <br>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    {% if profile.projects | length %}
        <div style="width:100%;text-align: center;display: block">
            <h3><u>Projects</u></h3>
        </div>
        <div style="width:100%;display: block;position: relative;overflow: auto;">
            {% for project in profile.projects %}
                <div style="width:100%;display: block;position: relative;overflow: auto;">
                    <div style="width: 48%;padding: 1%;float:left;text-align: left;">
                        <h4>{{project.name}}</h4>
                        {% for link in json_load(project.links) %}
                            <a href="{{ link }}"
                               target="_blank">{{link}}<br></a>
                        {% endfor %}
                    </div>
                    <div style="width: 48%;padding: 1%;float:left;text-align: right">
                        <div>
                            {{project.start_date | full_date}} -
                            {% if project.end_date %}
                                <span>{{project.end_date | full_date}}</span>
                            {% else %}
                                <span>Present</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div style="width:98%;display: block;position: relative;padding: 0 1%">
                    <p>{{project.description}}</p>

                </div>
            {% endfor %}
        </div>
    {% endif %}
    <div style="width:100%;height:3px;background: rgb(0, 0, 0)"></div>
    {% if profile.languages | length %}
        <div style="width:100%;display: block;position: relative;overflow: auto;text-align: center">
            {% if profile.languages | length %}
                <h3><u>Languages</u></h3>
                {% for lang in profile.languages %}
                    <div style="margin-bottom: 1px;padding: 0 10px">
                        <div>
                            <h4>
                                <i class="ui hand point right outline icon"></i>
                                <strong><u>{{lang.name}}</u></strong>
                                <small> :</small>
                                <strong><i>{{lang.level}}</i></strong>
                            </h4>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}

</div>
</body>
</html>
