{% extends 'layouts/base.html' %}
{% import 'macros/follow_macros.html' as follow %}
{% import 'macros/job_macros.html' as job_wid %}
{% import 'macros/allquestion_macros.html' as question_wid %}
{% block custom_head_tags %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick/slick.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick/slick-theme.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lightbox/css/lightbox.min.css') }}">
    <style>
        .slick-prev:before, .slick-next:before {
            color: black;
        }
        .slick-prev {
            left: 0px;
            z-index: 100;
        }
        .slick-next {
            right: 0px;
            z-index: 100;
        }

    </style>
{% endblock %}
{% block content %}
       <form class="ui inline form fluid" style="width: 70%" method="GET" id="search" action="{{ url_for('main.search') }}">
                <div class="fields" style="margin-bottom: 0">
                    <div class="fourteen wide field">
                        {% for field in form %}
                        <tr>
                            <th>{{field.label}}
                             <td style="margin-top: 2cm; margin-bottom: 2cm;">{{field}}</td>   
                        </tr>
                    {% endfor %}

                    <div class="two wide field" style="margin-top: 1cm;">
                        <button type="submit" class="ui button" style="width: 100%"><i class="search icon"></i></button>
                    </div>
                    </div>

                </div>
            </form>




<!--<div class="twelve wide column">
            {% if results.total != 0 %}
                <div class="ui centered grid " style="overflow: hidden">
                    <br>
                    <div class="ui pagination menu">
                        {% for page in results %}
                        {% if page %}
                            <li>{{page}}</li>

                            {% else %}
                                <div class="disabled item">
                                    ...
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <hr>
                </div>
            {% endif %}
            
            {% if results != 0 %}
                <div class="ui centered grid " style="overflow: hidden">
                    <hr>
                    <div class="ui pagination menu">
                        {% for page in results %}
                            {% if page %}
                                {% if page != results.page %}
                                    <a class="item" href="{{ url_for(request.endpoint) }}?page={{ page }}&query={{ query }}&type={{ type }}&">
                                        {{ page }}
                                    </a>
                                {% else %}
                                    <a class="item active">
                                        {{ page }}
                                    </a>
                                {% endif %}
                            {% else %}
                                <div class="disabled item">
                                    ...
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <br>
                </div>
            {% endif %}
        </div>
{% endblock %}






<script src="https://ajax.googleapis.com/ajax/libs/jquery3.4.1/jquery.min.js" crossorigin="anonymous"></script>
<script>
    
$(document).on("click", "#search", function (e) {
    e.PreventDefault();
        var = search_query = $('input[name=search]').val().toLowerCase();
        console.log(search_query)
            $.ajax(
            {
                type: "GET",
                url: "{{url_for(main.search)}}",//remove existing item and append a new one
                success: function(response) {
                    $("#result").empty();
                    $("#result").append(response.result)

                }
                )
            }
});

</script>





















