{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}


{% block content %}

 <div class="ui padded raised segment">
            <h3>You need to confirm your account before continuing.</h3>

            <p>When you created an account, you should have received an message from us at {{ current_user.mobile_phone}}
                with a one time password(OTP) to confirm your phone number.</p>

            <div class="ui divider"></div>

            <h3>I didn't receive a it!</h3>

            <p>No problem! Just click the button below and we'll send you another one.</p>
            <a class="ui small button" href="{{ url_for('account.confirm_request') }}">Resend otp</a>
            <a class="ui small button" href="{{ url_for('account.confirm') }}">Confirm otp</a>

        </div>



 <div class="col-lg-7">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}" role="alert">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
  <!--<div class="form-row">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
  </div>-->
      <!--<form >
        <div class="row">
        <div class="col">
          <label for="otp">OTP</label>
          <input type="number" class="form-control" id="otp" name="otp" required>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Authenticate User</button>
        </div>
        </div>
      </form>-->




<form class="ui form" method="POST" action="">
  <div class="field">
    <div class="col-8 text container">
    <label for="otp">OTP</label>
    <input type="number" name="otp" id="otp" placeholder="233441" required=""e>
  </div>
</div>
  <button class="ui button" type="submit">Submit</button>
</form>
    </div>
  


{% endblock %}